.spinner .spinner-obj{
    position: relative;

    width: 50px;
    height: 50px;
    margin: auto;
}

.spinner .spinner-obj::after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";

    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;

    animation: spin 1.5s ease-in-out infinite;
}

.spinner h1{
    font-size: 1.5em;
    margin: 0;

    animation: show-text 1s ease-out;
}

@keyframes spin{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    50%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes show-text{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}